<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">Hotel Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {%if user.role == 'guest'%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'table_reservation:guesthome' %}">Home</a></li>
                    {%elif user.role == 'kitchen_staff'%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'orders:kitchen-staff' %}">Home</a></li>
                    {%elif user.role == 'waiter'%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:waiter' %}">Home</a></li>
                    {%else%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin_report:admin_home' %}">Home</a></li>
                    {%endif%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:management' %}#menu-list">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:management' %}#table-list">Table</a></li>
                    {%if user.role == 'admin' or user.role == 'waiter'%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'table_reservation:table_reserved' %}">Reservation</a></li>
                    {%endif%}
                    {%if user.role != 'admin' and user.role != 'kitchen_staff'%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'orders:order-list' %}">orders</a></li>
                    {%endif%}
                    {%if user.role != 'admin' and user.role != 'kitchen_staff' and user.role != 'waiter'%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'orders:service-staff' %}">Service Staff</a></li>
                    {%endif%}
                    {% if not user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                    {% endif %}
                    {% if request.user.role == 'guest' %}
                        <button class="cart-items btn btn-outline-primary" 
                                type="button" 
                                data-bs-toggle="offcanvas" 
                                data-bs-target="#cartOffcanvas">
                            🛒 Cart
                        </button>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>
